.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-dark);
  margin-bottom: 20px;
}
.header__logo {
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1;
}
.header__item {
}
.header__link {
  display: flex;
  position: relative;
}
.header__link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  transition: all 0.3s;
  bottom: -4px;
  left: 0;
}
.header__link_menu {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.header__burger {
  display: none;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 97px;
}
.enjoy {
  border-radius: 40px;
  background: url('../img/img-hero.jpg') lightgray 50% / cover no-repeat;
  padding: 100px;
}
.enjoy__container {
  display: flex;
  width: 530px;
  flex-direction: column;
  gap: 40px;
  padding-top: 1px;
}
.enjoy__title {
  color: var(--text-light);
}
.enjoy__title_font {
  color: var(--text-accent);
}
.enjoy__description {
  color: var(--text-light);
}
.enjoy__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 100px;
  width: 200px;
  background-color: var(--background-body);
  color: var(--text-dark);
  padding: 20px 0px;
  border: 0;
  transition: all 0.3s;
}
.enjoy-btn-img {
  opacity: 0;
  width: auto;
  height: 1px;
  transition: all 0.3s;
}
.favorite-coffee__title {
  text-align: center;
  color: var(--text-dark);
  margin-bottom: 40px;
}
.favorite-coffee__title_font {
  color: var(--text-accent);
}
.favorite-coffee__slider {
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.favorite-coffee__slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.slider__svg {
  transition: all 0.3s;
}
.slider__btn_left {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: var(--background-body);
}
.slider__btn_right {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: var(--background-body);
}
.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.slider__slide {
}
.slide {
  display: flex;
  width: 100%;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.slide__img {
}
.slide__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  color: var(--text-dark);
}
.slide__title {
}
.slide__description {
}
.slide__price {
}
.slider__controls {
  display: flex;
  gap: 12px;
}
.slider__control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light);
  border: none;
}
.slider__control_active {
  background: var(--border-dark);
}
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 430px 120px 430px;
  gap: 40px;
}
.about__title {
  color: var(--text-dark);
  margin-bottom: 40px;
}
.about__title_font {
  color: var(--text-accent);
}
.about__item {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 690px;
}
.about__item_grid-first {
  grid-row: 1 / 3;
}
.about__item_grid-second {
  grid-row: 3 / 4;
}
.about__item_grid-third {
  grid-row: 1 / 2;
}
.about__item_grid-fourth {
  grid-row: 2 / 4;
}
.about__img {
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}
.mobile-app {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.mobile-app__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 690px;
  flex: 0 1 630px;
}
.mobile-app__title {
  color: var(--text-dark);
}
.mobile-app__title_font {
  color: var(--text-accent);
}
.mobile-app__description {
  color: var(--text-dark);
}
.mobile__app__inner {
  display: flex;
  gap: 20px;
}
.mobile-app__btn {
}
.btn {
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  background-color: var(--background-body);
  transition: all 0.3s;
}
.btn__svg {
  transition: all 0.3s;
}
.btn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-dark);
}
.btn__text {
}
.btn__item {
}
.mobile-app__wrapper {
}
.mobile-app__img {
}
.footer-contacts {
  display: flex;
  padding: 100px;
  background-color: var(--background-container);
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.footer-contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 0 1 530px;
  max-width: 530px;
}
.footer-contacts__title {
  color: var(--text-light);
}
.footer-contacts__title_font {
  color: var(--text-accent);
}
.footer-contacts__inner {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-contacts__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--background-container);
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-light);
  transition: all 0.3s;
}
.footer-contacts__btn-svg {
  transition: all 0.3s;
}
.footer-contacts__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 0 1 530px;
  max-width: 530px;
  width: 100%;
  color: var(--text-light);
}
.footer-contacts__subtitle {
}
.footer-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 5px;
}
.footer-contacts__item:not(:last-child) {
  position: relative;
}
.footer-contacts__item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 180px;
  height: 2px;
  transition: all 0.3s;
  bottom: -4px;
  left: 0;
}
.footer-contacts__item-link {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
.footer-contacts__item-link_text {
}

@media (hover: hover) {
  .header__link:hover::after {
    background-color: var(--text-dark);
  }
  .enjoy__button:hover {
    gap: 8px;
  }
  .enjoy__button:hover .enjoy-btn-img {
    opacity: 1;
    height: 20px;
    width: auto;
  }
  .slider__btn:hover {
    background-color: var(--background-container);
  }
  .slider__btn:hover .slider__svg {
    stroke: var(--background-body);
  }
  .about__item:hover .about__img {
    transform: scale(1);
  }
  .btn:hover {
    background-color: var(--background-container);
  }
  .btn:hover .btn__svg {
    fill: var(--background-body);
  }
  .btn:hover .btn__wrapper {
    color: var(--text-light);
  }
  .footer-contacts__btn:hover {
    background-color: var(--background-body);
    border: var(--background-body);
  }
  .footer-contacts__btn:hover .footer-contacts__btn-svg {
    stroke: var(--text-dark);
  }
  .footer-contacts__item:hover::after {
    background-color: var(--text-light);
  }
}
@media (max-width: 1300px) {
  .about__container {
    grid-template-rows: 430px 1fr 430px;
  }
}
@media (max-width: 1070px) {
  .about__item_grid-second,
  .about__item_grid-third {
    display: none;
  }
  .about__container {
    display: grid;
    grid-template-columns: minmax(min-content, 690px);
    grid-template-rows: repeat(2, 590px);
    justify-content: center;
  }
  .about__item_grid-first {
    grid-row: 1 / 2;
  }
  .about__item_grid-fourth {
    grid-row: 2 / 3;
  }
}
@media (max-width: 928px) {
  .enjoy {
    padding: 100px 60px;
  }
  .mobile-app {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
  .mobile-app__container {
    flex: auto;
  }
  .mobile-app__wrapper {
    align-self: center;
  }
  .main {
    margin-bottom: 94px;
  }
  .footer-contacts {
    flex-direction: column;
    padding: 100px 60px;
    gap: 100px;
    align-items: center;
  }
  .footer-contacts__wrapper {
    flex: auto;
  }
  .footer-contacts__container {
    flex: auto;
  }
}
@media (max-width: 768px) {
  .header__burger {
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
  }
  .header__burger-line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--text-dark);
    border-radius: 50%;
    border: 1px solid var(--text-dark);
  }
  .header__nav {
    position: fixed;
    right: -100%;
    top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-body);
    height: calc(100vh - 90px);
    padding: 60px 40px;
    gap: 100px;
    width: 100%;
  }
  .header__list {
    gap: 60px;
    flex-direction: column;
  }
  .header__link {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .header__link_menu {
    gap: 16px;
  }
  .header__svg-link {
    width: 40px;
    height: 40px;
  }
  .mobile-app {
    align-items: flex-start;
  }
  .footer-contacts {
    align-items: flex-start;
  }
  .about__img {
    transform: scale(1.06);
  }
  .enjoy__button {
    gap: 8px;
  }
  .enjoy-btn-img {
    opacity: 1;
    height: 20px;
    width: auto;
  }
}
@media (max-width: 760px) {
  .slider__btn {
    display: none;
  }
  .enjoy__container {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0px 16px
  }
  .enjoy, .footer-contacts {
    padding: 60px 16px;
  }
  .about__img {
    transform: scale(1.23);
  }
  .heading-1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }
  .heading-2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .mobile-app__container {
    gap: 39px;
  }
  .mobile__app__inner {
    flex-wrap: wrap;
  }
  .mobile-app, .footer-contacts {
    gap: 40px;
  }
}
