:root {
  --background-color: white;
  --font-color: black;
  --border-color: black;
  --button-color: white;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 15px;
}
.container {
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  color: var(--font-color);
  .btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
    color: var(--font-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s;
  }
  .btn:active {
    transform: scale(0.95);
  }
}
.game-container {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 4px solid var(--border-color);
  margin: 20px;
  color: var(--font-color);
}

td,
th {
  width: clamp(1.5rem, 5vw, 3rem);
  height: clamp(1.5rem, 5vw, 3rem);
  white-space: nowrap;
  &:nth-child(5n + 1) {
    border-right: 4px solid var(--border-color);
  }
}

tr:nth-child(5n + 1) {
  td,
  th {
    border-bottom: 4px solid var(--border-color);
  }
}
th p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  padding: 3px;
}
td {
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  > div {
    width: 75%;
    height: 75%;
    margin: auto;
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.level-container {
  padding: 10px;
  border-color: var(--border-color);
  margin: 10px;
  color: var(--font-color);
  legend {
    font-size: 20px;
    text-align: center;
  }
  div {
    display: flex;
    gap: 20px;
  }
  label {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
    display: inline-flex;
    gap: 5px;
    align-items: center;
    input {
      width: 15px;
      height: 15px;
      accent-color: var(--font-color);
    }
  }
}
.score-table {
  padding: 10px;
  border-color: var(--border-color);
  margin: 10px;
  color: var(--font-color);
  legend {
    font-size: 20px;
    text-align: center;
  }
  div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  span {
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  }
}