.game {
  width: 48%;
}
.game-header {
}
.game-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.game__ground {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow:
    0 8px 12px rgba(0, 0, 0, 0.2),
    0 3px 6px rgba(0, 0, 0, 0.15);
}
.game__result-sentence {
  display: flex;
  height: 57px;
  justify-content: center;
}
.inprogress {
}
.empty {
  display: inline-flex;
  min-width: 30px;
  border-radius: 8px;
  background-color: grey;
}
.empty.insert {
  background-color: #f0f0f0;
}
.game__shuffle-sentence {
  display: flex;
  border-radius: 8px;
  height: 57px;
  /* border: 1px solid grey; */
  /* padding: 2px; */
  box-shadow:
    0 8px 12px rgba(0, 0, 0, 0.2),
    0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
  justify-content: center;
}
.game-word {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.6rem, 1.1vw, 1.5rem);
  border: 2px solid purple;
  border-radius: 8px;
  cursor: pointer;
}
.game__button-continue {
  border: none;
  font-size: 32px;
  background-color: purple;
  color: rgb(255, 208, 0);
  border: none;
  padding: 12px 50px;
  border-radius: 8px;
}
.game__button-continue:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.game__button-continue.ready {
}
.game-btn-container {
}
